/* ------------------ MOBILE ------------------ */
#basket {
    display: none;
}



/* ------------------ TABLET ------------------ */
@media screen and (min-width: 768px) {

    #basket {
        height: 70%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 25%;
        position: absolute;
        right: 0;
        font-family: 'Quicksand', sans-serif;
        background-color: var(--secondary-bg-color);
    }
    
    #basket-products {
        width: 100%;
        height: 53%;   
        overflow-y: scroll;
    }
    
    #basket-sum {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 47%;
        color: var(--primary-green);
        background-color: var(--primary-bg-color);
        font-size: 1.5em;
    }
    
    .basket-total {
        width: 90%;
        padding: 0;
        text-align: center;
    }
    
    .basket-total:first-child {
        padding-top: 20px;
    }
    
    .bold {
        font-weight: 700;
        padding-bottom: 7px;
    }
}



/* ------------------ DESKTOP ------------------ */
@media screen and (min-width: 1024px) {
    #basket {
        height: 72%;
    }

    #basket-products {
        height: 65%;
    }

    #basket-sum {
        height: 35%;
    }

    .bold {
        padding-bottom: 20px;
    }
}

 