<h1 class="title">Ajouter un produit</h1>

<div>
    <form [formGroup]="formEditProduct" (ngSubmit)="submit()">

        <div class="formContainer">
            <label class="hidden">product Id</label>
            <input type="hidden" formControlName="id">
        </div>
        <div class="formContainer">
            <label>Nom du produit</label>
            <input type="text" formControlName="productName">
        </div>
        <div class="formContainer">
            <label>Descriptif produit</label>
            <textarea type="text" formControlName="productDescription"></textarea>
        </div>
        <div class="formContainer">
            <label>Catégorie</label>
            <select>
            <option value="viennoiserie">Viennoiserie</option>
            <option value="patisserie">Pâtisserie</option>
            </select>
        </div>
        <div class="formContainer">
            <label>Prix à l'unité</label>
            <input type="number" formControlName="productPrice" min="0">
        </div>
        <div class="formContainer">
            <label>Image</label>
            <input type="url" formControlName="productImage">
        </div>
        <!-- this button should be generic-button -->
        <button type="submit" [disabled]="!formEditProduct.valid" class="btn btn-bg-yellow">Ajouter le produit</button>
        <!-- <generic-button type="submit" color="yellow" content="valider" ></generic-button> -->
    </form>
</div>