h1{
    font-weight: bold;
    font-size: x-large;
    padding: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;

    .formContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        label{
            width: 30%;
            min-width: 200px;
        }

        input,
        textarea,
        select{
            border: 1px solid var(--text-color);
            background-color: var(--text-on-dk-bg);
            width: 70%;
            resize: none; 
            appearance: textfield;
        }
    
        input[type="file"]{
           
        }
          
    }

    button{
       border: 3px solid var(--primary-yellow);
       color: var(--text-color);
       font-size: large;
       box-shadow: 10px 5px 5px var(--bg-color-80);
    }
}
