<generic-header></generic-header>

<div id="container">
    <section>
        <return-to-products-page-button back="Retour à l'administration" routerLink="/table"></return-to-products-page-button>
        <h1 class="title">{{ modeText }} un produit</h1>

        <div>
            <form [formGroup]="formProduct" (ngSubmit)="submit()">

                <div class="formContainer">
                    <label class="required">ID (Need for json-server)</label>
                    <input type="number" formControlName="productId">
                </div>
                
                <div class="formContainer">
                    <label class="required">Nom du produit</label>
                    <input type="text" formControlName="productName">

                    <div class="error-msg" *ngIf="!formProduct.controls['productName'].valid && formProduct.controls['productName'].dirty">
                        Le champ ne peut pas être vide
                    </div>
                </div>

                <div class="formContainer">
                    <label>Descriptif produit</label>
                    <textarea type="text" formControlName="productDescription"></textarea>
                </div>

                <div class="formContainer">
                    <label>Catégorie</label>
                    <select>
                        <option value="viennoiserie">Viennoiserie</option>
                        <option value="patisserie">Pâtisserie</option>
                    </select>
                </div>

                <div class="formContainer">
                    <label class="required">Prix à l'unité</label>
                    <input type="number" formControlName="productPrice" min="0">

                    <div class="error-msg" *ngIf="!formProduct.controls['productPrice'].valid && formProduct.controls['productPrice'].dirty">
                        Le prix doit être supérieur à 0€.
                    </div>
                </div>

                <div class="formContainer">
                    <label>Image</label>
                    <input type="file" accept="image/*" (change)="selectFile($event)" formControlName="productImage">
                </div>
                
                <div class="buttonContainer">
                    <button type="submit" [disabled]="!formProduct.valid" class="btn btn-bg-yellow">{{ modeText }} le produit</button>
                </div>
            </form>
        </div>
    </section>
    <aside>
        <h2>Aperçu produit</h2>
        <div class="preview-container">
            <div class="container-card">
                <img class="image-card" [src]="imagePreview || this.formProduct.controls['productImage'].value || imagePlaceholderURI">
                <div class="container-card-details">
                    <h3 class="title card-title"> {{ formProduct.controls['productName'].value }} </h3>
                    <div class="card-price"> {{ formProduct.controls['productPrice'].value }} &euro;</div>
                    <div class="qty-controller">
                        <button class="btn-qty-controller card-btn-minus">-</button>
                        <div class="card-affiche-qty">00</div>
                        <button class="btn-qty-controller card-btn-add">+</button>
                    </div>
                </div>
            </div>
            
        </div>
    </aside>

</div>