:root {
    --table-header: #524C7D;
    --table-header-text-color: #FEFEFE;
    --table-row-first: #DDFEF2;
    --table-row-second: #FFFFFF;
}

table {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

table th {
    background-color: var(--table-header);
    font-weight: bold;
    color: var(--table-header-text-color);
    padding: 10px;
    font-size: 1em;
    width: 20%;
}

table td {
    padding: 10px;
    font-size: 0.8em;
}

table tr:nth-child(odd) {
    background-color: var(--table-row-first);
}

table tr:nth-child(even) {
    background-color: var(--table-row-second);
}

table tr.table-end-row {
    background-color: var(--table-header);
    color: var(--table-header-text-color);
    text-align: left;
}

.table-end-row td {
    font-size: 1em;
}


.tx-centered {
    text-align: center;
}

.tx-yellow {
    color: #fdf887;
}

.tx-red {
    color: #f86f6f;
}

.bg-yellow {
    background-color: #fdf887;
}

.bg-red {
    background-color: #f86f6f;
}