/* ------------------ MOBILE ------------------ */
#main-nav {
    display: none;
}



/* ------------------ TABLET ------------------ */
@media screen and (min-width: 768px) {
    #main-nav {
        display: flex;
        justify-content: center;
        background-color: #8682A4;
        width: 100%;
    }

    #main-container {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .navigation-button {
        all:unset;
        cursor: pointer;
        padding:0.6rem 1.4rem;
        border-radius: 10px;
        text-align: center;
        box-shadow: 10px 5px 5px var(--bg-color-80);
        margin: 0.5rem;
        color: black;
        border: 3px solid black;
        font-family: 'Quicksand';
        font-weight: 600;
        font-size: small;
        width: 80px;
        color: var(--primary-green);
        border: 3px solid var(--primary-green);

        &:hover {
            background-color: var(--primary-green);
            color: var(--primary-bg-color);
        }
    }
}



/* ------------------ DESKTOP ------------------ */
@media screen and (min-width: 1024px) {
    #main-container {
        justify-content: flex-start;
        gap: 5%;
    }

    .navigation-button {
        padding:0.8rem 2rem;
        width: 100px;
        font-size: medium;
        margin: 1rem;
    }
}