.blue-button {
    all:unset;
    cursor: pointer;
    padding:0.8rem 2rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 5px 5px var(--bg-color-80);
    margin:0 1rem; 
    color: var(--primary-green);
    border: 3px solid var(--primary-green);
    font-family: 'Quicksand';
    font-weight: 600;

    &:hover {
        background-color: var(--primary-green);
        color: var(--primary-bg-color);
    }
}