<aside id="cart">
    <section id="cart-products">
        <basket-product></basket-product>
        <basket-product></basket-product>
        <basket-product></basket-product>
        <basket-product></basket-product>
        <basket-product></basket-product>
        <basket-product></basket-product>
        <basket-product></basket-product>
        <basket-product></basket-product>
        <basket-product></basket-product>
        <basket-product></basket-product>
        <basket-product></basket-product>
        <basket-product></basket-product>
        <basket-product></basket-product>
        <basket-product></basket-product>
        <basket-product></basket-product>
        <basket-product></basket-product>
    </section>
    <section id="cart-sum">
        <div class="cart-total">
            Total
        </div>
        <div class="cart-total bold">
            11,50 €
        </div>
        <generic-button color="green" content="Valider"></generic-button>
        <generic-button color="red" content="Annuler"></generic-button>
    </section>
</aside> 
