<table>
    <thead>
        <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Actif - Inactif</th>
            <th></th>
        </tr>

    </thead>

    <tbody>
        <tr>
            <td>Baguette</td>
            <td>1.00 €</td>
            <td>Actif</td>
            <td><img src="/assets/icons/pen.svg"> <img src="/assets/icons/trash.svg"></td>
        </tr>
        <tr>
            <td>Croissant</td>
            <td>1.20 €</td>
            <td>Actif</td>
            <td><img src="/assets/icons/pen.svg"> <img src="/assets/icons/trash.svg"></td>
        </tr>
        <tr>
            <td>Pain au chocolat</td>
            <td>1.00 €</td>
            <td>Actif</td>
            <td><img src="/assets/icons/pen.svg"> <img src="/assets/icons/trash.svg"></td>
        </tr>
    </tbody>
</table>