table{
    background-color: var(--primary-green);
    text-align: center;
    vertical-align: middle;
    width: 100%;
    
    

    thead{
        th{
            font-family: var(--title-font);
            font-weight: 700;
            padding:2rem 2rem;
            background-color: var(--primary-bg-color);
            color:var(--text-on-dk-bg);
            font-size: 1.3rem;
           
        }
    }
   
  
    .btn-qty-controller {
        background-color: transparent;
        border: 1px solid var(--text-color);
        border-radius: 50%;
        text-align: center;
        color: var(--text-color);
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
    }
    tbody{
        tr:nth-child(even){
            background-color: var(--text-on-dk-bg);
        }
    
        td{
            padding:1rem;
        
            #removeItem{
                background: none;
                border: none;
                padding:0.5rem;

                svg{
                    min-width: 25px;
                    min-height: 25px;
                    fill:var(--text-color);
                    
                }
            }
        }
    }
  
}

.table-footer{
    font-family: var(--title-font);
    font-weight: 700;
    padding:2rem 2rem;
    background-color: var(--primary-bg-color);
    color:var(--text-on-dk-bg);
    font-size: 1.3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 4rem;

    form{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 3rem;
        
        label{
            margin-right: 3rem;
        }

        input, 
        select{
            padding: 0.5rem;
            appearance: textfield;
        }

        input{
            width: 50%;
        }

        select{
            background-color: var(--text-on-dk-bg);
            width: 5.5rem;
            font-size: 1rem;
            border: none;
            margin-left: 0.5rem;
            
            option{
                font-size: 1.2rem;
                padding:0.5rem;
            }
        }
    }
}