/* ------------------ TABLET ------------------ */
@media screen and (min-width: 768px) {
    #logout {
        &-container {
            position: relative;
            width: 50%;
            height: 50vh;
            margin: auto;
            margin-top: 3rem;
            box-shadow: 10px 5px 5px var(--bg-color-80);
            border-radius: 10px;
            font-family: 'Quicksand';
            border: solid 2px var(--primary-bg-color);
        }

        &-exit {
            fill: var(--brand-red);
            position: absolute;
            right: 2%;
            top: 2%;
            cursor: pointer;
        }

        &-sales {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            margin: auto;
            margin-top: 4rem;
        }

        &-title {
            font-size: 2rem;
            font-weight: 700;
            padding-bottom: 0.5rem;
        }

        &-date {
            margin-bottom: 2rem;
            font-size: 1.2rem;
        }

        &-details {
            width: 50%;

            &-total {
                font-weight: 700;
                font-size: 1.5rem;
                padding-bottom: 1.5rem;
            }
        }
    }

    .logout-details-type {
        padding-bottom: 1.5rem;
    }
}