<div class="wrapper">
    <generic-header></generic-header>
    <list-recap></list-recap>
    <aside>
        <div>
            <generic-payment-button pathSvg = "/realFront/src/assets/icons/mastercard.svg" meansOfPayment="Carte Bancaire"></generic-payment-button>
        </div>
        <div>
            <generic-payment-button pathSvg = "/realFront/src/assets/icons/euroCash.svg" meansOfPayment=" Espèces"></generic-payment-button>
        </div>
        <div>
            <generic-payment-button pathSvg = "/realFront/src/assets/icons/paymentCheck.svg" meansOfPayment="Autres"></generic-payment-button>
        </div>
        <generic-button color="red" content="Annuler"></generic-button>
    </aside>
</div>