generic-header {
    grid-area: header;
    margin-bottom: 2rem;

}

h1{
    font-weight: bold;
    font-size: 2.5rem;
    margin: 1rem auto;
}

.recapWrapper {
    grid-area: content;
    margin: 0 auto;
    min-width: 80%;
}

aside {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.wrapper {
    display: grid;
    /*   grid-gap: 20px; */
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "header  header"
        "content sidebar"
        "content sidebar";
}

svg{
    max-width:30px;
    max-height: 30px;
    fill: var(--text-color);
}


@media (max-width: 40rem) {
    .wrapper {
        grid-template-columns: 3fr;
        grid-template-areas:
            "header"
            "content"
            "sidebar";
    }
}