<div class="wrapper">
    <generic-header></generic-header>
    <div class="recapWrapper">
        <return-to-products-page-button back="RETOUR AUX PRODUITS"></return-to-products-page-button>
        <h1 class="title">Récapitulatif de la commande</h1>
        <list-recap></list-recap>
    </div>
    <aside>
        <div>
            <generic-payment-button 
                meansOfPayment="Carte Bancaire">
                <svg fill="#000000" width="800px" height="800px" viewBox="0 0 32 32" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <title>alt-mastercard</title>
                    <path
                        d="M0 26.016q0 0.832 0.576 1.408t1.44 0.576h28q0.8 0 1.408-0.576t0.576-1.408v-16h-32v16zM0 8h32v-1.984q0-0.832-0.576-1.408t-1.408-0.608h-28q-0.832 0-1.44 0.608t-0.576 1.408v1.984zM10.016 19.008q0-2.080 1.44-3.52t3.552-1.472q1.312 0 2.496 0.704-1.504 1.92-1.504 4.288t1.504 4.288q-1.184 0.704-2.496 0.704-2.080 0-3.552-1.44t-1.44-3.552zM18.016 19.008q0-2.080 1.44-3.52t3.552-1.472 3.52 1.472 1.472 3.52-1.472 3.552-3.52 1.44-3.552-1.44-1.44-3.552z">
                    </path>
                </svg>
            </generic-payment-button>
        </div>
        <div>
            <generic-payment-button  meansOfPayment=" Espèces">
                <svg version="1.1" id="Layer_1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800px"
                    height="800px" viewBox="0 0 64 38" enable-background="new 0 0 64 38" xml:space="preserve">
                    <title>Cash-euro</title>
                    <desc>Created with Sketch.</desc>
                    <g id="Page-1" sketch:type="MSPage">
                        <g id="Cash-euro" transform="translate(1.000000, 1.000000)" sketch:type="MSLayerGroup">
                            <path id="Shape" sketch:type="MSShapeGroup" fill="none" stroke="#6B6C6E" stroke-width="2" d="M60,36c1.1,0,2-0.9,2-2V2
                       c0-1.1-0.9-2-2-2H2C0.9,0,0,0.9,0,2v32c0,1.1,0.9,2,2,2H60L60,36z" />
                            <path id="Shape_1_" sketch:type="MSShapeGroup" fill="none" stroke="#6B6C6E" stroke-width="2"
                                d="M5,4h20.6" />
                            <path id="Shape_2_" sketch:type="MSShapeGroup" fill="none" stroke="#6B6C6E" stroke-width="2"
                                d="M5,32h20.6" />
                            <path id="Shape_3_" sketch:type="MSShapeGroup" fill="none" stroke="#6B6C6E" stroke-width="2"
                                d="M36,4h21" />
                            <path id="Shape_4_" sketch:type="MSShapeGroup" fill="none" stroke="#6B6C6E" stroke-width="2"
                                d="M36,32h21" />
                            <circle id="Oval" sketch:type="MSShapeGroup" fill="none" stroke="#6B6C6E" stroke-width="2"
                                cx="31" cy="18" r="15">
                            </circle>
                            <path id="Shape_5_" sketch:type="MSShapeGroup" fill="none" stroke="#6B6C6E" stroke-width="2"
                                d="M37.9,25.4
                       C36.5,27,34.7,28,32.7,28c-4.3,0-7.7-4.5-7.7-10s3.5-10,7.7-10c2,0,3.7,0.9,5.1,2.5" />
                            <path id="Shape_6_" sketch:type="MSShapeGroup" fill="none" stroke="#6B6C6E" stroke-width="2"
                                d="M22,16h11.9" />
                            <path id="Shape_7_" sketch:type="MSShapeGroup" fill="none" stroke="#6B6C6E" stroke-width="2"
                                d="M21,20h11.9" />
                        </g>
                    </g>
                </svg>
            </generic-payment-button>
        </div>
        <div>
            <generic-payment-button meansOfPayment="Autres">
                <svg fill="#000000" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M0,117.161v277.677h415.128L512,297.966V117.161H0z M424.038,342.913v-36.037h36.037L424.038,342.913z M481.583,276.458
			H393.62v87.963H30.417V147.578h451.166V276.458z" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="66.35" y="279.798" width="154.6" height="30.417" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <polygon points="345.86,281.83 322.992,293.997 300.125,281.83 277.261,293.997 261.54,285.631 247.251,312.484 277.261,328.452 
			300.125,316.285 322.992,328.452 345.86,316.285 361.586,324.651 375.873,297.798 		" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="66.35" y="230.654" width="379.302" height="30.417" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="66.35" y="181.51" width="379.302" height="30.417" />
                        </g>
                    </g>
                </svg>
            </generic-payment-button>
        </div>
        <generic-button color="red" content="Annuler"></generic-button>
    </aside>
</div>