@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --primary-bg-color:#524C7D;
    --primary-green:#DDFEF2;
    --primary-yellow:#FDF887;
    --brand-red: #F86F6F;
    --text-color:#563444;
    --text-on-dk-bg:#FFFFFF;
    --bg-color-80:rgba(82, 76, 125, 0.8);
    --title-font:'Quicksand', sans-serif;
    --paragraph-font:'Open Sans', sans-serif;
}

.red-button {
    all:unset;
    cursor: pointer;
    padding:0.8rem 2rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 5px 5px var(--bg-color-80);
    margin:0 1rem; 
    color: var(--brand-red);
    border: 3px solid var(--brand-red);
    font-family: 'Quicksand';
    font-weight: 600;

    &:hover {
        background-color: var(--brand-red);
        color: var(--primary-bg-color);
    }
}