div{
    width: 100%;
    max-height: 30px;
    display: flex;

    input{
        min-width: 30%;
        border-radius: 10px 0 0 10px;
        background-color: transparent;
    }

    button{
       background-color: transparent;
       border-radius: 0 10px 10px 0;
    }

    svg{
        width: 20px;
        
    }
}