<generic-header (backHome)="deleteFilter()">
    <search-bar (searchTextChanged)="onSearchTextEntered($event)"></search-bar>
    <div id="{{ classToUse }}">
        <generic-button *ngIf="userRole != ('EMPLOYEE' ) " color="yellow" content="Gestion" id="gestion-button" (click)="goToPage('products')"></generic-button>
        <svg id="logout" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16" (click)="dialog.showModal()">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg>
    </div>
</generic-header>
<navigation (categorySelected)="categoryFilter($event)"></navigation>
<basket [quantity]="quantity"></basket>
<div id="shop-container">
    <ng-container *ngFor="let product of productList$ | async; index as i">
        <ng-template [ngIf]="product.status">
            <product-card [product]="product" [quantity]="quantity" *ngIf="searchText==='' || product.name.toLowerCase().includes(searchText)"></product-card>
        </ng-template>
    </ng-container>
</div>

<dialog #dialog id="logout-dialog">
    <form id="logout-form">
        <p>Saisissez votre mot de passe pour vous déconnecter</p>
        <input id="logout-input" type="password" required>
    </form>
    <generic-button color="green-full" content="Valider" (click)="goToPage('logout')"></generic-button>
    <generic-button color="red-full" content="Annuler" (click)="dialog.close()"></generic-button>
</dialog>



