/* ------------------ MOBILE ------------------ */



/* ------------------ TABLET ------------------ */
@media screen and (min-width: 768px) {
    #shop {
        &-container {
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-content: flex-start;
            width: 75%;
            height: 80vh;
            gap: 1rem;
            overflow-y: auto;
        }
    }
}


/* ------------------ DESKTOP ------------------ */
@media screen and (min-width: 1024px) {

}