/* ------------------ MOBILE ------------------ */



/* ------------------ TABLET ------------------ */
@media screen and (min-width: 768px) {
    #shop {
        &-container {
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            width: 75%;
            gap: 1rem;
        }
    }

    
    #logout {
        // position: absolute;
        // top: 1.2%;
        // right: 0;
        cursor: pointer;
        margin-right: 2%;
        // margin-top: 1rem;
        color: var(--primary-yellow);

        &-dialog {
            padding: 4rem;
            box-shadow: 10px 5px 5px var(--bg-color-80);
            border-radius: 10px;
            text-align: center;
            font-family: 'Quicksand';
            font-weight: 600;
            border-color: #524c7d;
        }

        &-input {
            margin-top: 1rem;
            width: 100%;
        }
    }
    
    #generic-header{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;

    }
    
    #groupleft{
        display: flex;
        min-width: 300px;
        justify-content: space-between;
        align-items: center;
        margin-right: 2rem;
    }
}


/* ------------------ DESKTOP ------------------ */
@media screen and (min-width: 1024px) {
    #gestion-button {
        top: 1%;
        right: 8%;
    }

    #logout {
        top: 0.8%;
    }
}