/* ------------------ MOBILE ------------------ */



/* ------------------ TABLET ------------------ */
@media screen and (min-width: 768px) {
    #shop {
        &-container {
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            width: 75%;
            gap: 1rem;
        }
    }
}


/* ------------------ DESKTOP ------------------ */
@media screen and (min-width: 1024px) {

}