<generic-header [escapeEnabled]="false"></generic-header>
<div class="container">
    <img src="../../../assets/img/404/404.png" alt="404 page not found image" id="desktop404">
     <img src="../../../assets/img/404/404-Mobile.png" alt="404 page not found image" id="mobile404"> 
    <div class="container-btn">
        <generic-button color="yellow-full" content="Retour à l'accueil" (click)="goToPage('shop')"></generic-button>
        <generic-button color="yellow" content="Retour à la page précédente" (click)="previousPage()"></generic-button>
    </div>
</div>

