/* ------------------ TABLET ------------------ */
@media screen and (min-width: 768px) {
    span {
        color: var(--brand-red);
    }

    #gestion-button {
        position: absolute;
        top: 1.2%;
        right: 10%;
    }

    #logout {
        position: absolute;
        top: 1.2%;
        right: 0;
        cursor: pointer;
        margin-right: 2%;
        margin-top: 1rem;
        color: var(--primary-yellow);

        &-dialog {
            padding: 4rem;
            box-shadow: 10px 5px 5px var(--bg-color-80);
            border-radius: 10px;
            text-align: center;
            font-family: 'Quicksand';
            font-weight: 600;
            border-color: #524c7d;
        }

        &-input {
            margin-top: 1rem;
            width: 100%;
        }
    }

    #user-container {
        width: 60%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 2rem;
    }

    #form {
        &-header {
            width: 100%;            
            padding: 1rem;
        }

        &-title {
            font-family: 'Quicksand';
            font-weight: bold;
            font-size: x-large;
            width: 100%;
        }

        &-info {
            font-size: small;
            color: var(--brand-red);
        }

        &-user {
            font-family: 'Quicksand';
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem;
            gap: 1rem;
            width: 57%;
            border-right: 1px #000 solid;
        }
    }

    .formContainer {    
        height: auto;
        display: flex;
        flex-wrap:wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &:first-child {
            display: none;
        }
        
        &-label {
            width: 30%;
            min-width: 200px;
        }

        &-input {
            border: 1px solid var(--text-color);
            background-color: var(--text-on-dk-bg);
            width: 100%;
            resize: none; 
            appearance: textfield;
        }
    }

    aside {
        width: 40%;
    }

    input[type='radio'] {
        accent-color: #524c7d;
    }

    table {
        font-family: 'Quicksand', sans-serif;
        text-align: center;
        width: 100%;

        tr {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 30px;
            font-weight: 700;
        }

        td {
            margin-left: 0.5rem;
        }

        tr:nth-child(odd) {
            background-color: #DDFEF2;
        }

        tr:nth-child(even) {
            background-color: #524C7D;
            color: #FFF;
        }

        .svg-icon:nth-child(odd) {
            background-color: #DDFEF2;
        }

        .svg-icon:nth-child(even) {
            background-color: #524C7D;
            color: #FFF;
        }
    }    

    .bi {
        cursor: pointer;
        margin-right: 1rem;
    }

    #delete {
        &-dialog {
            padding: 4rem;
            box-shadow: 10px 5px 5px var(--bg-color-80);
            border-radius: 10px;
            text-align: center;
            font-family: 'Quicksand';
            font-weight: 600;
            border-color: #524c7d;
        }
    }

    #edit {
        &-dialog {
            padding: 4rem;
            box-shadow: 10px 5px 5px var(--bg-color-80);
            border-radius: 10px;
            text-align: center;
            font-family: 'Quicksand';
            font-weight: 600;
            border-color: #524c7d;
        }
    }
}



/* ------------------ DESKTOP ------------------ */
@media screen and (min-width: 1024px) {
    #gestion-button {
        right: 8%;
    }

    .formContainer {
        &-input {
            width: 80%;
        }
    }
}


// .error-msg {
//     height: 1.2rem;
//     width: 100%;
//     text-align: right;
//     font-size: 0.8rem;
//     color: darkred;

// }