/* ------------------ TABLET ------------------ */
@media screen and (min-width: 768px) {
    span {
        color: var(--brand-red);
    }

    #generic-header{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }

    #groupleft {
        display: flex;
        min-width: 300px;
        justify-content: space-between;
        align-items: center;
        margin-right: 2rem;
    }

    #logout {
        color: var(--primary-yellow);
        cursor: pointer;

        &-dialog {
            padding: 4rem;
            box-shadow: 10px 5px 5px var(--bg-color-80);
            border-radius: 10px;
            text-align: center;
            font-family: 'Quicksand';
            font-weight: 600;
            border-color: #524c7d;
        }

        &-input {
            margin-top: 1rem;
            width: 100%;
        }
    }

    #user-container {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 2rem;
        gap: 2rem;
   

        #form {
            
            &-header {
                width: 100%;            
            }

            &-title {
                font-family: 'Quicksand';
                font-weight: bold;
                font-size: x-large;
            }

            &-info {
                font-size: small;
                color: var(--brand-red);
            }

            &-user {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 1rem;
                gap: 1rem;
                width: 40%;
            }

            &-button {
                all:unset;
                cursor: pointer;
                padding:0.8rem 2rem;
                border-radius: 10px;
                text-align: center;
                box-shadow: 10px 5px 5px var(--bg-color-80);
                margin: 0 1rem;
                font-family: 'Quicksand';
                font-weight: 600;
                width: 100px;
                background-color: var(--primary-yellow);
                border: 3px solid var(--primary-yellow);
                color: var(--primary-bg-color);
                height: 30px;
            }
        }

        #cancel-button {
            all:unset;
            cursor: pointer;
            padding:0.8rem 2rem;
            border-radius: 10px;
            text-align: center;
            box-shadow: 10px 5px 5px var(--bg-color-80);
            margin: 0 1rem;
            font-family: 'Quicksand';
            font-weight: 600;
            width: 100px;
            background-color: var(--brand-red);
            border: 3px solid var(--brand-red);
            color: var(--primary-bg-color);
            height: 30px;
        }

        #button-container {
            display: flex;
            justify-content: center;
        }

        .formContainer {    
            height: auto;
            display: flex;
            flex-wrap:wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .hidden {
                display: none;
            }

            &-label {
                width: 30%;
                min-width: 200px;
            }

            &-input {
                border: 1px solid var(--text-color);
                background-color: var(--text-on-dk-bg);
                width: 100%;
                height: 2rem;
                resize: none; 
                appearance: textfield;
            }

            .error-msg {
                width: 100%;
                color: var(--brand-red);
                font-size: 0.8rem;
                padding-top: 0.2rem;
            }
        }

        aside {
            width: 40%;
            border-left: 1px solid black;

            #users {
            
                &-header {
                    width: 100%;  
                    padding: 1rem;
                    margin-left: 1rem;         
                }
    
                &-title {
                    font-family: 'Quicksand';
                    font-weight: bold;
                    font-size: x-large;
                }
            }
        }

        input[type='radio'] {
            accent-color: #524c7d;
        }

        table {
            font-family: 'Quicksand', sans-serif;
            text-align: center;
            width: 90%;
            margin-left: 2rem;

            tr {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 30px;
                font-weight: 700;
            }

            td {
                margin-left: 0.5rem;
            }

            tr:nth-child(odd) {
                background-color: #DDFEF2;
            }

            tr:nth-child(even) {
                background-color: #524C7D;
                color: #FFF;
            }

            .svg-icon:nth-child(odd) {
                background-color: #DDFEF2;
            }

            .svg-icon:nth-child(even) {
                background-color: #524C7D;
                color: #FFF;
            }
        }    

        .bi {
            cursor: pointer;
            margin-right: 1rem;
        }

        #delete {
            &-dialog {
                padding: 4rem;
                box-shadow: 10px 5px 5px var(--bg-color-80);
                border-radius: 10px;
                text-align: center;
                font-family: 'Quicksand';
                font-weight: 600;
                border-color: #524c7d;
            }
        }

        #edit {
            &-dialog {
                padding: 4rem;
                box-shadow: 10px 5px 5px var(--bg-color-80);
                border-radius: 10px;
                text-align: center;
                font-family: 'Quicksand';
                font-weight: 600;
                border-color: #524c7d;
            }
        }

        #success {
            &-dialog {
                padding: 4rem;
                box-shadow: 10px 5px 5px var(--bg-color-80);
                border-radius: 10px;
                text-align: center;
                font-family: 'Quicksand';
                font-weight: 600;
                border-color: #524c7d;
            }
        }
    }
}



/* ------------------ DESKTOP ------------------ */
@media screen and (min-width: 1024px) {
    
    #gestion-button {
        top: 1%;
        right: 8%;
    }

     #logout {
        top: 0.8%;
    }

    .formContainer {
        &-input {
            width: 80%;
        }
    }
}