<nav id="main-nav">
    <div id="main-container">
        <generic-button color="blue" content="Catégorie"></generic-button>
        <generic-button color="blue" content="Catégorie"></generic-button>
        <generic-button color="blue" content="Catégorie"></generic-button>
        <generic-button color="blue" content="Catégorie"></generic-button>
        <!-- <generic-button color="blue" content="Catégorie"></generic-button>
        <generic-button color="blue" content="Catégorie"></generic-button>
        <generic-button color="blue" content="Catégorie"></generic-button>
        <generic-button color="blue" content="Catégorie"></generic-button>
        <generic-button color="blue" content="Catégorie"></generic-button>
        <generic-button color="blue" content="Catégorie"></generic-button>
        <generic-button color="blue" content="Catégorie"></generic-button>
        <generic-button color="blue" content="Catégorie"></generic-button> -->
    </div>
</nav>  
