<div id="generic-header">
    <div id="generic-header-logo">
        <img id="logo-screen" src="../../../../assets/logo/logoYelloBlue.png" (click)="goHome()">
    </div>
    <ng-content></ng-content>
    <ng-container *ngIf="escapeEnabled">
        <div id="groupleft">        
            <ng-container *ngIf="currentUserRole != 'EMPLOYEE'">
                <ng-container *ngIf="currentRoute == '/shop'; else goToShopButton">
                    <generic-button color="yellow" content="Gestion" id="gestion-button" (click)="goToPage('products')"></generic-button> 
                </ng-container>   

                <ng-template #goToShopButton>
                    <generic-button color="yellow" content="Vente" id="gestion-button" (click)="goToPage('shop')"></generic-button> 
                </ng-template>
            </ng-container>
            
            <svg id="logout" (click)="dialogLogout.showModal()" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>
        </div>
    </ng-container>
</div>
<div id="mobile-header">
    <div id="mobile-header-logo">
        <img id="logo-mobile" src="../../../../assets/logo/logoMobileYellow.png" (click)="goHome()">
    </div>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon id="menu-icon">menu</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="subMenu">Gestion</button>
        <button mat-menu-item (click)="goHome()">Vente</button>
        <button mat-menu-item (click)="dialogLogout.showModal()">Déconnexion</button>
    </mat-menu>
    <mat-menu #subMenu="matMenu">
        <button mat-menu-item (click)="goToPage('/products')">Produits</button>
        <button mat-menu-item (click)="goToPage('/categories')">Catégories</button>
        <button mat-menu-item (click)="goToPage('/users')">Utilisateurs</button>
    </mat-menu>
</div>

<dialog #dialogLogout id="logout-dialog">
    <form id="logout-form">
        <p>Saisissez votre mot de passe pour vous déconnecter</p>
        <input id="logout-input" type="password" required>
    </form>
    <generic-button color="green-full" content="Valider" (click)="goToPage('logout')"></generic-button>
    <generic-button color="red-full" content="Annuler" (click)="dialogLogout.close()"></generic-button>
</dialog>
