@media screen and (min-width: 768px) {
    .generic-button {
        all:unset;
        cursor: pointer;
        padding:0.8rem 2rem;
        border-radius: 10px;
        text-align: center;
        box-shadow: 10px 5px 5px var(--bg-color-80);
        margin: 1rem;
        color: black;
        border: 3px solid black;
        font-family: 'Quicksand';
        font-weight: 600;
        width: 100px;
    }

    .blue {
        color: var(--primary-green);
        border: 3px solid var(--primary-green);

        &:hover {
            background-color: var(--primary-green);
            color: var(--primary-bg-color);
        }
    }

    .green {
        color: var(--validation-green);
        border: 3px solid var(--validation-green);

        &:hover {
            background-color: var(--validation-green);
            color: var(--primary-bg-color);
        }
    }

    .red {
        color: var(--brand-red);
        border: 3px solid var(--brand-red);

        &:hover {
            background-color: var(--brand-red);
            color: var(--primary-bg-color);
        }
    }

    .yellow {
        color: var(--primary-yellow);
        border: 3px solid var(--primary-yellow);

        &:hover {
            background-color: var(--primary-yellow);
            color: var(--primary-bg-color);
        }
    }
}



/* ------------------ DESKTOP ------------------ */
@media screen and (min-width: 1024px) {
    
}