.closeable-message {
    display: flex;
    flex-direction: row;            
    width: 100%;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;

    &:hover {
        filter: brightness(80%);
    }

    .close-button {
        margin-left: auto;
    }

    .close-button svg {
        cursor: pointer;
    }


}

.success {
    background-color: var(--validation-green);
    color: var(--text-color);
}

.fail {
    background-color: var(--brand-red);
    color: var(--text-color);
}

.warn {
    background-color: var(--primary-yellow);
    color: var(--text-color);
}