/* ------------------ TABLET ------------------ */
@media screen and (min-width: 768px) {
    #generic-header {
        background-color: #524c7d;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: auto;
    
        &-logo {
            width: 25%;
            text-align: center;
        }
    }
    
    #logo {
        &-screen {
            width: 40%;
            padding: 30px 0px;
        }
    
        &-mobile {
            display: none;
        }
    }
}

/* ------------------ DESKTOP ------------------ */
@media screen and (min-width: 1024px) {
    
}