<div id="generic-header">
    <div id="generic-header-logo">
        <img id="logo-screen" src="../../../../assets/logoYelloBlue.png">
        <img id="logo-mobile" src="../../../../assets/logoMobileYellow.png">
    </div>
    <generic-button color="red" content="Supprimer"></generic-button>
    <generic-button color="blue" content="Catégorie"></generic-button>
    <generic-button color="green" content="Valider"></generic-button>
    <generic-button color="yellow" content="Gestion"></generic-button>
</div>
