<div class="container container-card">
    <img class="image-card" src="{{ product?.image }}" alt="image de {{ product?.name }}">
    <div class="container container-card-details">
        <h3 class="title card-title">{{ product?.name }}</h3>
        <div class="card-price">{{ product?.price }} &euro;</div>
        <div class="container qty-controller">
            <button class="btn-qty-controller card-btn-minus" (click)="minus()">-</button>
            <div class="card-affiche-qty">{{ product?.qty }}</div>
            <button class="btn-qty-controller card-btn-add" (click)="add()">+</button>
        </div>
    </div>
</div>
