<div class="container container-card">
    <img src="/assets/img/viennoiserie/croissants.jpg" alt="image de coirssant">
    <div class="container container-card-details">
        <h3 class="title card-title">croissant</h3>
        <div class="card-price">3 &euro;</div>
        <div class="container qty-controller">
            <button class="btn btn-qty-controller card-btn-minus">-</button>
            <div class="card-affiche-qty">0</div>
            <button class="btn btn-qty-controller card-btn-add">+</button>
        </div>
    </div>
</div>
